*{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}

body{
    font-family: sans-serif;
    margin: 0;
}



.logo__company {
    width: 120px;
    position: absolute;
    top: 10px;
    left: -15px;
}

.title__principal {
    margin-left: 130px;
    margin-right: 60px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(
        to right,
        rgb(128, 0, 128),
        rgb(118, 59, 236),
        rgb(10, 248, 248),
        rgba(118, 59, 236),
        purple);
    padding: 0px;
    animation: sliding 130s linear infinite;
    height: 12vh;
}
 
@keyframes sliding {
    to {
        background-position: -2000vw;
    }
}

.nav__mobile {
    display: none;
}



.text--marginzero {
 margin: 0;
}

.welcome__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/HD-wallpaper-csgo-ultra-games-counter-strike-video-game-counter-strike-global-offensive-csgo-global-offensive\ \(1\).png");
    height: 80vh;
}

.welcome__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 2.4rem;
    text-align: center;
}

.buttons{
    font-size: 1.5em;
    padding: 10px 5px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
    color: rgb(255, 255, 255);
    background-color: rgb(138, 43, 226);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.about_us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/ashe.png");
    background-size: cover;
    height: 80vh;
}

.about_us__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 2.4rem;
    text-align: center;
}

.conteiner__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30 30 30);
    background-size: cover;
    height: 60vh;
}

.box__cards {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 70vh;
}

.sub {
    margin-bottom: 2px;
}

.sub__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #777777;
    background-image: linear-gradient(rgba(108, 105, 107, 0.5), rgba(108, 105, 107, 0.5)), url(../imgs/VIP.png);
    background-size: 100%;
    backdrop-filter: #686565;
    margin-right: 11%;
    margin-left: 5%;
    padding: 5% 15% 10% 15%;
    border-radius: 8px;
    height: 70%;
}



.conteiner__why {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/counter-strike-global-offensive-csgo-3198.jpg");
    background-size: cover;
    height: 80vh;
}

.why__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-align: center;
}
.conteiner__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/pngtree-black-low-polygon-gradient-background-image_449310.jpg");
    background-size: cover;
    height: 80vh;
}



.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/counter-strike-global-offensive-csgo-3198.jpg");
    background-size: cover;
    height: 10vh;
}