*{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}

body{
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    


.logo__company {
    width: 120px;
    position: absolute;
    top: 10px;
    left: -15px;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right,
        rgb(128, 0, 128),
        rgb(118, 59, 236),
        rgb(10, 248, 248),
        rgba(118, 59, 236),
        purple);
    padding: 0px;
    animation: sliding 130s linear infinite;
    height: 12vh;
}
 
@keyframes sliding {
    to {
        background-position: -2000vw;
    }
}

.nav__mobile {
    position: absolute;
    width: 100vw;
    background-color: black;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.5s
}

.menu__absolute {
    position: absolute;
    right: 10px;
}

.title__principal {
    font-size: 2em;
}


.text--marginzero {
 margin: 0;
}

.welcome__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/HD-wallpaper-csgo-ultra-games-counter-strike-video-game-counter-strike-global-offensive-csgo-global-offensive\ \(1\).png");
    height: 80vh;
}

.welcome__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 2.4rem;
    text-align: center;
}

.buttons{
    font-size: 1.5em;
    padding: 10px 5px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
    color: rgb(255, 255, 255);
    background-color: rgb(138, 43, 226);
}

.buttons:hover {
    background-color: rgb(47, 14, 72);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    margin: 2% 0;
}

.about_us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/ashe.png");
    background-size: cover;
    height: 80vh;
}

.about_us__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 2.4rem;
    text-align: center;
}

.conteiner__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30 30 30);
    background-size: cover;
    height: 100vh;
}

.box__cards {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 70vh;
}

.sub {
    margin-bottom: 2px;
}

.sub__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 1.4rem;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #777777;
    background-image: linear-gradient(rgba(108, 105, 107, 0.5), rgba(108, 105, 107, 0.5)), url(../imgs/VIP.png);
    background-size: 120%;
    background-position: center;
    margin-right: 11%;
    margin-left: 5%;
    padding: 5% 15% 2% 15%;
    border-radius: 8px;
    height: 70%;
}



.conteiner__why {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/counter-strike-global-offensive-csgo-3198.jpg");
    background-size: cover;
    height: 80vh;
}

.why__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 2.4rem;
    text-align: center;
}
.conteiner__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../imgs/unknown.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    
}

.conteiner__border {
    border-bottom: 1px solid black;
    margin: 0px auto 0% auto;
    width: 60%;
    margin: 0 5%;
}

.contact__title {
    padding-bottom: 20px;
    width: 100vw;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
}

.owner__img {
    width: 50px;
    border-radius: 100%;
}

.owners_box {
    display: flex;
    flex-direction: row;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    height: 5vh;
}

.yegy {
height: 55px;
}

.by {
    color: transparent;
    background-image: linear-gradient(
        to right,
        rgb(128, 0, 128),
        rgb(118, 59, 236),
        rgb(10, 248, 248),
        rgba(118, 59, 236),
        purple);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    animation: sliding 130s linear infinite;
}

}